menu "Configuracion de mi app"

    choice
        prompt "LED speeds"
        default BLINK_PERIOD_1000MS
        optional
    
    config BLINK_PERIOD_250MS
        bool "250ms period"

    config BLINK_PERIOD_1000MS
        bool "1000ms period"

    config BLINK_PERIOD_500MS
        bool "500ms period"

    endchoice

    config LED_BLINKING_PERIOD
        int
        default 250 if BLINK_PERIOD_250MS
        default 1000 if BLINK_PERIOD_1000MS
        default 500 if BLINK_PERIOD_500MS
        default 1500
        range 100 5000
        help
            Periodo de blinkeo

endmenu

rsource "deps/Kconfig.deps"

if ENABLE_MODULE
config MODULE_NAME
string
default "my_module"
help
    Nombre del modulo a cargar
endif

menu "Configuracion de Zephyr"

source "Kconfig.zephyr"

endmenu